# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/notepad_app/node_modules
/notepad_app/.pnp
/notepad_app/pnp.js
/NotepadBackend/myenv
/NotepadBackend/notepadApp/.env

# testing
/notepad_app/coverage

# production
/notepad_app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
